rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      // Allow read/write if the user is authenticated and is accessing their own data
      allow read, write: if request.auth != null && request.auth.uid == userId;

      match /countries/{countryId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
    }
  }
}
